html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: auto auto auto;
  gap: 12px;

  padding: 12px;
  height: 100vh;
  box-sizing: border-box;
  max-width: 50px !important;
}

.panel {
  border: 2px solid #000;
  padding: 8px;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100px !important;
}

.map {
  max-width: 100px !important;
  grid-column: 1;
  grid-row: 1 / span 2;
}

.bars {
  grid-column: 1;
  grid-row: 3;
}

.sunburst {
  grid-column: 2;
  grid-row: 1;
}

.parallel {
  grid-column: 2;
  grid-row: 2;
}

.lines {
  grid-column: 2;
  grid-row: 3;
}
